.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 12px 40px;
  color: #157a58;
}

.logo-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo-img {
  width: 70px;
  height: 60px;
  margin-right: 10px;
}

.logo-text {
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links li {
  cursor: pointer;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-right button {
  background: red;
  border: none;
  padding: 6px 12px;
  color: white;
  cursor: pointer;
}