.home-container {
  font-family: Arial;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: white;
  color: #0f5f45;
}

.nav-right {
  display: flex;
  gap: 20px;
  align-items: center;
}

.logout-btn {
  background: #ff4d4d;
  border: none;
  padding: 6px 12px;
  color: white;
  cursor: pointer;
}

/* Search */
.search-section {
  text-align: center;
  padding: 60px;
  background: #f5f5f5;
}

.search-box {
  margin-top: 20px;
}

.search-box input {
  padding: 10px;
  margin: 10px;
  width: 180px;
}

.search-box button {
  padding: 10px 20px;
  background: #157a58;
  color: white;
  border: none;
}

/* Profile */
.profile-section {
  padding: 40px;
  text-align: center;
}

.profile-card {
  background: white;
  padding: 20px;
  width: 300px;
  margin: auto;
  box-shadow: 0px 0px 10px #ccc;
}