.home-page {
    font-family: Arial;
  }
  
  /* Search */
  .search-section {
    text-align: center;
    padding: 50px;
    background: #f5f5f5;
  }
  
  .search-box input {
    padding: 10px;
    margin: 10px;
    width: 180px;
  }
  
  .search-box button {
    padding: 10px 20px;
    background: #157a58;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  /* Job Cards */
  .job-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
    gap: 20px;
  }
  
  .job-card {
    width: 260px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
  }
  
  .job-card button {
    margin-top: 10px;
    background: #0f5f45;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
  }
  .career-section {
    text-align: center;
    margin: 40px 0;
  }
  
  .career-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
  }
  
  .career-btn {
    background-color: #157a58;
    color: white;
    padding: 12px 22px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .career-btn:hover {
    background-color: #0f5f45;
  }
